:root {
    --background-color: #827661;
    --link-color: #3d5a98;
    --link-hover-color: #7596b9;
    --nav-link-color: #eee;
    --nav-link-hover-color: #fff;
    --nav-menu-hover-color: #43301f;
    --header-color: #1a77bd;
    --preview-link-color: #666;
    --preview-link-hover-color: #aaa;
}

a.metadata-rights-link:link,
a.metadata-rights-link:visited {
    color: #777;
}

a.metadata-rights-link:hover {
    color: #aaa;
}

footer {
    padding: 0 0 6px 2px;
}

#footer-text {
    padding: 10px 10px 3px;
    font-size: 14px;
}

#footer-text,
#footer a:link,
#footer a:visited {
    color: white;
}
