:root {
    --background-color: #F9F1E6;
    --link-color: #89181E;
    --link-hover-color: #E2BFBD;
    --nav-link-color: #8C131C;
    --nav-link-hover-color: #A07274;
    --nav-menu-hover-color: #c1817d;
    --header-color: #8C131C;
    --preview-link-color: #666;
    --preview-link-hover-color: #aaa;
}

.search-td-image .item-preview-header {
    padding-left: 4px;
    width: 160px;
}

.search-th-catalogue- {
    min-width: 100px;
}

.search-td-catalogue- {
    text-align: left;
    width: 100px;
}

.search-results-title {
    color: var(--header-color)
}