:root {
    --background-color: #482102;
    --link-color: #c76941;
    --link-hover-color: #e57f52;
    --nav-link-color: #eee;
    --nav-link-hover-color: #fff;
    --nav-menu-hover-color: #843418;
    --header-color: #1a77bd;
}

a.metadata-rights-link:link,
a.metadata-rights-link:visited {
    color: #aaa;
}

a.metadata-rights-link:hover {
    color: #aaa;
}

